html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #D4C1EC;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 5px solid #9F9FED;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
  display: flex;

}

.card--content {
  border-radius: 25px;
  border: 5px solid #FEF9FF;
  background-color: #F2DFD7;
  min-width: 200px;
  margin: 5px;
  padding: 10px;
}
